/parte2/FigurasG/nbproject/private/
/parte2/FigurasG/build/
/parte2/Xd/nbproject/private/
/parte2/Xd/build/
/parte2/x/nbproject/private/
/parte2/x/build/
/parte2/Actividad4/nbproject/private/
/parte2/Actividad4/build/
/parte2/Notas/nbproject/private/
/parte2/Notas/build/
